@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tomorrow";
  src: local("Tomorrow"),
    /* url(../public/fonts/Tomorrow/Tomorrow-Black.ttf) format("truetype"), */
      url(../public/fonts/Tomorrow/Tomorrow-Regular.ttf) format("truetype"),
    url(../public/fonts/Tomorrow/Tomorrow-Bold.ttf) format("truetype"),
    url(../public/fonts/Tomorrow/Tomorrow-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Josefin Sans";
  src: local("Josefin_Sans"),
    url(../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
      format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
